h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Aclonica', sans-serif !important;
    font-weight: bold !important;

    &.shadowed {
        text-shadow: 4px 4px 5px $light-gray;
    }
}