@import 'colors';

:export {
    Alto: $alto;
    CornflowerBlue: $cornflower-blue;
    FlamePea: $flame-pea;
    Foam: $foam;
    LightGray: $light-gray;
    MineShaft: $mine-shaft;
    Olivine: $olivine;
    GreenPea: $green-pea;
    Porcelain: $porcelain;
    Ronchi: $ronchi;
    Scorpion: $scorpion;
    SilverChalice: $silver-chalice;
    Solitaire: $solitaire;
    Tundora: $tundora;
}