@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';

main[role="main"] {
    overflow-y: scroll;
}

.info-page {
    max-width: 80em;
    margin: 0 auto;
    padding: 1rem;

    .infopage-title {
        color: $tundora;
        padding: 1rem 0 0.5rem;
        margin: 0;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 3rem;
            height: 0.5rem;
            bottom: 0;
            background: #a5a5a5;
        }
    }

    .infoSection {
        &.withSidebar {
            flex-direction: row;
            display: flex;
            max-width: 80em;
            padding: 1rem 0;

            .textContent {
                padding-right: 1em;
                width: 70%;

                .textContent-image {
                    border-radius: 6px;
                    height: auto;
                    margin-bottom: 2rem;
                    max-width: 100%;
                }

                .subsection {
                    ul {
                        list-style-type: square;
                    }
                }
            }

            .sidebar {
                width: 25em;
            }
        }

        &.noSidebar {
            .textContent {
                .textContent-image {
                    border-radius: 6px;
                    height: auto;
                    margin-bottom: 1rem;
                    width: 100%;
                }

                .subsection {
                    ul {
                        list-style-type: square;
                    }
                }
            }
        }
    }
}

.subsection-title {
    margin-top: 0 !important;
    margin: 0 0 1rem 0;
    position: relative;
    color: $tundora;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 2.2rem;
        height: 0.2rem;
        top: 30px;
        left: 1px;
        background: $silver-chalice;
    }
}