.block-tout {
    aspect-ratio: 1 / 1;
    display: block;
    box-sizing: border-box;
    // max-width: 10rem;
    // max-height: 60%;
    // margin: 1.0rem 1.0rem;
    position: relative;
    overflow: hidden;
    border-radius: 6px;

    .block-tout-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .block-tout-headline {
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        color: #fff;
        font-size: 1.4rem;
        left: 0;
        margin-bottom: 0;
        padding: 0.5em;
        position: absolute;
        transition: all 0.2s ease;
        width: 100%;
    }
}

.block-tout:hover {
    .block-tout-headline {
        padding-bottom: 1.5rem;
    }
}