@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';

a {
    text-decoration: none;
}

.hero-headline {
    background-color: $black-half-transparent;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    line-height: 1.2;
    padding: 1rem;
    transition: all 0.2s ease;

    &:hover {
        background-color: $tundora;
    }

    &.with-icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    &.smallBox {
        max-width: 22em;
    }
}