@import '../../assets/scss/colors';

.horizontal-rule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;

    * {
        background-color: $flame-pea;
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .horizontal-rule-taper {
        height: 1px;
        width: 5vw;
    }

    .horizontal-rule-full {
        height: 2px;
        width: 40vw;
    }
}