@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';

li.numeric-listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    color: $light-gray;

    .numeral {
        min-width: 1em;
        font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
    }

    .numeric-text-container {
        display: flex;
        flex-direction: column;

        * {
            padding-left: 60px;
        }

        .numeric-title {
            font: 12pt/1.5 "Helvetica", sans-serif;
            font-weight: bold;
            color: $mine-shaft;
            font-weight: bold;
        }
    }
}