
.pricing-container {
    color: #444444;
    border: 1px solid #5a7fe4;
    border-radius: 1em;
    background: repeating-linear-gradient(135deg, #fff, #fff 75px, rgba(90, 127, 228, 0.1) 75px, rgba(90, 127, 228, 0.1) 150px);
    width: 100%;
    // margin-right: 0 !important;

    display: flex;
    flex-direction: column;
    // width: 40em;
    margin: 1em 0em 1em 0em;
    margin-right: 0em;
    padding: 1em 1em 2em 1em;

    h3 {
        position: relative;
        color: #5a7fe4;

        &::after {
            position: absolute;
            left: 1em;
            bottom: -0.2em;
            width: 90%;
            border-bottom: solid 3px #5a7fe4;
            content: '';
        }
    }

    p {
        color: #444444;
        margin: 1rem;
    }

    .bottom-line-price {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        font-size: 18pt;
        line-height: 20pt;

        .bottom-line-price-single-line {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .price-name {
                color: #444444;
                line-height: 1.0;
                box-sizing: border-box;
                font-weight: bold;
            }

            .price-dots {
                box-sizing: border-box;
                border-bottom: 4px dotted #444444;
                flex-grow: 1;
                margin: 0 .5rem 0 .5rem;
            }

            .price-actual {
                color: #444444;
                text-align: right;
                font-weight: bold;
            }
        }
    }
}