@import '../../assets/scss/colors';
@import '../../assets/scss/fonts';

.sidebar-block {
    display: flex;
    transition: all 0.2s ease;
    text-decoration: none;

    &:hover {
        color: $ronchi;

        .sidebar-block-body {
            .sidebar-block-headline {
                color: $ronchi;
            }
        }
    }

    .sidebar-block-media {
        width: 50%;
        margin-right: 1.5rem;

        .sidebar-block-media-img {
            border-radius: 6px;
            height: 11.25rem;
            max-width: initial;
            width: 11.25rem;
        }
    }

    .sidebar-block-body {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;

        .sidebar-block-headline {
            font-size: 18pt;
            margin-bottom: .2em;
            transition: all 0.2s ease;
        }
    }
}