@import "../../assets/scss/colors";
@import "../../assets/scss/fonts";

.sitemap-column {
    h5 {
        font-family: "Alegreya", serif;
        font-weight: bold;
        color: $tundora;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: 0.5rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    a {
        color: $tundora;
        text-decoration: none;

        h5 {
            color: $tundora;
        }
    }

    a:hover {
        color: gray;

        h5 {
            color: gray;
        }
    }

    a:active {
        color: $mine-shaft;

        h5 {
            color: $mine-shaft;
        }
    }

    &.dark {
        h5 {
            color: $alto;
        }

        a {
            color: white;

            h5 {
                color: white;
            }
        }

        a:hover {
            color: $mine-shaft;

            h5 {
                color: $mine-shaft;
            }
        }

        a:active {
            color: $solitaire;
            h5 {
                color: $solitaire;
            }
        }
    }
}