ul.block-tout-list {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;

    li {
        width: 12%;
    }

    li:first-child {
        margin-left: 1rem;
    }

    li:last-child {
        margin-right: 1rem;
    }
}