.hero-block {
    box-sizing: border-box;
    display: block;
    height: 100%;
    position: relative;

    .block-hero-tagline {
        position: absolute;
        top: 3rem;
        left: 1rem;
        width: 50%;
        border-radius: 6px;
    }

    .block-hero-address {
        position: absolute;
        bottom: 3rem;
        right: 1rem;
        border-radius: 6px;
    }
}