.layout-two-side-by-side {
    align-items: center;
    display: flex;
    flex-direction: row;

    * {
        flex: 2 2 50%;
    }

    .directions {
        flex: 1 1 25%;
        margin-left: 1rem;
    }
}