@import '../../../assets/scss/colors';

.form-input-field {
    margin-bottom: 1em;

    label {
        display: block;
        font-weight: bold;
    }

    textarea, input {
        width: 100%;
        border: 1px solid #a5a5a5;
        border-radius: 6px;
        padding: 1rem;
        font-family: "Arial", sans-serif;
        color: $tundora;
        font-size: 100%;
        margin: 0;

        &:valid {
            color: $tundora;
        }

        &:focus-visible {
            box-shadow: 0px 0px 5px $ronchi;
            outline: none;
        }

        &:invalid {
            box-shadow: 0px 0px 10px $flame-pea;
        }
    }


    input {
        flex: 1 1 100%;
    }
}